- remove_form_id = local_assigns.fetch(:remove_form_id, nil)

- if group.paid?
  = render 'shared/global_alert', dismissible: false, alert_class: 'gl-mb-5', alert_data: { testid: 'group-has-linked-subscription-alert' } do
    .gl-alert-body
      = html_escape(_("This group can't be removed because it is linked to a subscription. To remove this group, %{linkStart}link the subscription%{linkEnd} with a different group.")) % { linkStart: "<a href=\"#{help_page_path('subscriptions/index', anchor: 'change-the-linked-namespace')}\">".html_safe, linkEnd: '</a>'.html_safe }

.js-confirm-danger{ data: group_settings_confirm_modal_data(group, remove_form_id) }
